streamlit==1.30.0
langchain==0.1.2
langchain-experimental==0.0.49
langchainhub==0.1.14
langchain-openai==0.0.3
openai==1.9.0
google-search-results==2.4.2
markdown
pydantic
Flask
requests
termcolor
python-dotenv
